@font-face
{
	font-family: "Uni";
	src: url("../font/uni05_54.ttf");
}

html
{
	font-size: 62.5%;
	font-family: Uni;
	color: #ffffff;
	/*background: #0a0a0a;*/
	background: url('../img/background.png') fixed;
}


h1, h2, h3
{
	font-family: Uni;
}

p
{
	margin: 1.5em;
}

body
{
	font-size: 1.6em;
}

a
{
	color: #aabbcc;
	text-decoration: none;
}

a:HOVER
{
	color: #ccddee;
	text-decoration: underline;
}

a[target="_blank"]:not(.noblank) {

	display: inline-block;

	line-height: 12px; /* check your icon height */

	background: url('../img/blank.png') center right no-repeat;

	padding-right: 12px;

}
em
{
	font-weight: bold;
}

.button
{
	display: inline-block;
	text-align: center;
	background-color: #444499;
	border-radius: 5px;
	color: #dddddd;
	padding: 6px;
	border: 1px solid #222277;
	cursor: pointer;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 0px 1px 0px rgba(100, 100, 200, 0.5) inset, 0px -1px 0px rgba(50, 50, 200, 0.5) inset;
}

.button:HOVER
{
	background-color: #6666aa;
}

input
{
	border: 1px solid #656565;
	border-radius: 6px;
	padding: 6px;
	font-family: Uni;
}


.clear
{
	clear: both;
}

#wrapper
{
	margin: auto;
	margin-top: 40px;
	width: 850px;
	padding: 2em 3em;
	border: 1px solid #222222;
	background: rgba(0, 0, 0, 0.95);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.95);
}

hr
{
	border: none;
	border-top: 1px dashed #ffffff;
	background: none;
	height: 1px;
	width: 100%;
	margin: 1em;
}

input[type="submit"]
{
	display: inline;
	border: none;
	background: none;
	cursor: pointer;
	color: #777777;
}

input[type="submit"]:HOVER
{
	color: #ffffff;
	text-decoration: underline;
}

#languages-box
{
	margin-top: 1.0em;
	float: right;
}

#title-box
{
	float: left;
}

input[type="text"], input[type="email"], textarea
{
	border: 1px solid #000000;
	border-radius: 0px;
	width: 15em;
	font-family: Uni;
	padding: 0.5em;
	font-size: 1em;
}

table
{
	margin: auto;
}

li
{
	margin: 1em;
}

.logo
{
	height: 6em;
	margin: 1.4em;
}