{% extends "core/base.html" %}

{% block title %}Ludum Dare 28{% endblock %}

{% block content %}
<h1>Ludum Dare 28 &mdash; Poznań</h1>
<em>14 &ndash; 15 grudnia 2013</em>, ZOO Coworking, Zwierzyniecka 20

<hr>

<p>
<a href="http://rpg.cs.put.poznan.pl" target="_blank">Ruch Projektantów Gier</a> zaprasza na pierwsze poznańskie spotkanie z okazji 28. edycji game jamu <a href="http://ludumdare.com/compo" target="_blank">Ludum Dare</a>!
</p>
<h2>Czym jest game jam?</h2>
<p>
Idea jest prosta &mdash; programiści, projektanci, graficy zbierają się razem, aby w 48 stworzyć od podstaw grę.
</p>

<h2>Kiedy?</h2>
<p>Weekend 14 &ndash; 15 grudnia 2013.</p>
[godziny?]
<h2>Gdzie?</h2>
<p>Spotkanie odbędzie się w <a href="http://coworkingzoo.pl" target="_blank">ZOO Coworking</a> przy ulicy Zwierzynieckiej 20 w Poznaniu [<a href="https://www.google.com/maps/preview#!q=52.408413%2C16.908245&data=!1m4!1m3!1d271!2d16.908515!3d52.408386!2m1!1e3!4m14!2m13!1m12!3m8!1m3!1d152!2d16.908515!3d52.408386!3m2!1i1024!2i768!4f13.1!4m2!3d52.408413!4d16.908245&fid=7" target="_blank">mapa</a>]. Na miejscu znajdą się stanowiska gdzie można wygodnie usiąść i położyć laptopa, a także WiFi oraz kawa i herbata.</p>

<h2>Rejestracja (nieobowiązkowa)</h2>
<p>Rejestracja pomoże nam oszacować, ilu osób możemy się spodziewać na wydarzeniu.
Nie jesteś jeszcze zdecydowany/nie chcesz się rejestrować? Żaden problem &mdash; po prostu przyjdź ze swoim laptopem i przekonaj się, jak to jest samodzielnie stworzyć grę w 48 godzin!

<p>[tu będzie formularz rejestracyj]
</p>

<h2>Kontakt</h2>
<p>Masz jakieś pytania/uwagi? Pisz śmiało: <a href="mailto:krzysztof@skoracki.net?subject=LD28">krzysztof@skoracki.net</a>.
</p>
{% endblock %}
