{% extends "core/base.html" %}

{% load i18n %}

{% block title %}Ludum Dare 28{% endblock %}

{% block content %}

<div id="title-box">
	<h1>Ludum Dare 28 &mdash; Poznań</h1>
	<em>{% blocktrans %}14 &ndash; 15 December 2013{% endblocktrans %}</em>, {% blocktrans %}ZOO Coworking, Zwierzyniecka 20{% endblocktrans %}
</div>

<div id="languages-box">
	{% get_language_info_list for LANGUAGES as languages %}
		{% for language in languages %}
		<form action="{% url 'set_language' %}" method="post">
			{% csrf_token %}
			<input name="next" type="hidden" value="{{ redirect_to }}" />
			<input name="language" type="hidden" value="{{ language.code }}" />
			<input class="language-button" type="submit" value="{{ language.name_local }}" />
		</form>
	{% endfor %}
</div>

<div class="clear"></div>
<hr>
<p>
{% blocktrans %}<a href="http://rpg.cs.put.poznan.pl" target="_blank">Ruch Projektantów Gier</a> will be holding first <a href="http://ludumdare.com/compo" target="_blank">Ludum Dare</a> real world gathering in Poznań, Poland!{% endblocktrans %}
</p>

<h2>{% blocktrans %}When?{% endblocktrans %}</h2>
<p>{% blocktrans %}Weekend of 14 &ndash; 15 December 2013.{% endblocktrans %}</p>
<p>{% blocktrans %}10AM &ndash; 9PM (both days){% endblocktrans %}</p>

<h2>{% blocktrans %}Where?{% endblocktrans %}</h2>
<p>{% blocktrans %}The gathering will take place in <a href="http://coworkingzoo.pl" target="_blank">ZOO Coworking</a> on the Zwierzyniecka 20 street in Poznań, Poland [<a href="https://www.google.com/maps/preview#!q=52.408413,16.908245&amp;data=!1m4!1m3!1d271!2d16.908515!3d52.408386!2m1!1e3!4m14!2m13!1m12!3m8!1m3!1d152!2d16.908515!3d52.408386!3m2!1i1024!2i768!4f13.1!4m2!3d52.408413!4d16.908245&amp;fid=7" target="_blank">map</a>]. We will have a place to sit comfortably with your laptop, as well as free WiFi and some tea and coffee.{% endblocktrans %}</p>


<h2>{% blocktrans %}Registration (optional){% endblocktrans %}</h2>
<p>
{% blocktrans %}Registration will help us estimate how many people we should expect.
If you're not sure yet or just don't want to register &mdash; dont worry. Just bring your laptop and see for yourself that creating games is a lot of fun!{% endblocktrans %}
</p>
<hr>

<p>
	<table id="form">
	<form action="{% url 'index' %}#form" method="post">
		{% csrf_token %}
		{{ form.as_table }}
		<tr>
			<td>
				<input type="submit" value="{% trans 'Submit' %}" />
			</td>
		</rd>
	</form>
	</table>
</p>

<hr>

<h2>{% blocktrans %}Wait, what's a game jam?{% endblocktrans %}</h2>
<p>
{% blocktrans %}The idea is simple &mdash; programmers, designers, artists meet together to make a game in a short time.
Ludum Dare is divided into two categories:
<ul>
<li>48h compo &mdash; 2 days, you have to work on your game by yourself, all content has to be created during the duration of the event</li>
<li>72h jam &mdash; 3 days, teams of any size allowed, you can use freely available content like sprites</li>
</ul>
For detailed rules, see <a href="http://www.ludumdare.com/compo/rules/" target="_blank">official website</a>.{% endblocktrans %}
</p>

<h2>{% blocktrans %}Contact{% endblocktrans %}</h2>
<p>
{% blocktrans %}Any questions? Just send a mail: <a href="mailto:krzysztof@skoracki.net?subject=LD28">krzysztof@skoracki.net</a>.{% endblocktrans %}
</p>

<h2>{% blocktrans %}Organizers{% endblocktrans %}</h2>
<a class="noblank" href="http://rpg.cs.put.poznan.pl" target="_blank"><img class="logo" src="{{ STATIC_URL }}img/logo-rpg.png"></a>
<a class="noblank" href="http://www.put.poznan.pl" target="_blank"><img class="logo" src="{{ STATIC_URL }}img/logo-put.png"></a>
<a class="noblank" href="http://coworkingzoo.pl" target="_blank"><img class="logo" src="{{ STATIC_URL }}img/logo-zoo.png"></a>
<a class="noblank" href="http://www.man.poznan.pl" target="_blank"><img class="logo" src="{{ STATIC_URL }}img/logo-pcss.png"></a>
{% endblock %}
